<container class="body-container">
  <section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
     
      <p class="title">
        Welcome to  sleepyhead
      </p>
    </div>
  </div>
</section>
<section class="hero1">
  <p>The app is basically designed to monitor, guide, track and checkmate any one that is workaholic or someone that has sleeping disorder. It is technically used by creating an account 
    (login). Thereafter, the user will be directed to a page to input bed time and wake up time. The app will then calculate and displays value for the user. Equally, the app can output 
    up to 5 days parameters for the same user if it is used within the last 5 days.
  </p>
</section>
</container>
