
    <section class="hero">
 
<h2>Login Page</h2>
<br>
 <form id="login" action="/data/login" method="POST">
        <label for="fname">Email Address:</label><br>
        <input class="email" type="text" id="fname" name="fname" value=""><br><br>
        <label for="lname">Password:</label><br>
        <input class="password" type="text" id="lname" name="lname" value=""><br><br>
        <input type="submit" id="Submit" href="http://localhost:3001/userinput" value="Submit">
        <br> <br>
<<<<<<< HEAD
        {{!-- <input type="button" id="Submit" onclick=location.href="http://localhost:3001/data/getdata" value="View last 5 days information"> --}}
=======
        <input type="button" id="Submit" onclick=location.href="http://localhost:3001/data/getdata" value="View last 5 days information">
>>>>>>> 096e6909eeb6df1c0f9b42e8883bf68bd18505b5
  
      </form> 


</section>