
    <section class="hero">
<h2>Register Page</h2>
<br>
 <form id="register">
        <label for="fname">Full name:</label><br>
        <input class="name" type="text" id="fname" name="fname" value=""><br><br>
        <label for="lname">Email Address:</label><br>
        <input class="email" type="text" id="lname" name="email" value=""><br><br>
        <label for="fname">Confirm Password:</label><br>
        <input class="password" type="text" id="cpass" name="cpass" value=""><br><br>
        <input id="userinput" type="submit" href="http://localhost:3001/userinput" value="Submit"><br><br>
        <input type="button" value="Cancel" onclick=location.href="http://localhost:3001">
        
      </form>

</section>
   
      <script src="/js/data.js"></script>
