{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<h2>Welcome to Sleepyhead</h2>


<body>
    <form id="register">
        <label for="fname">Full name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br><br>
        <label for="lname">Email Address:</label><br>
        <input type="text" id="lname" name="email" value=""><br>
        <label for="fname">Confirm Password:</label><br>
        <input type="text" id="cpass" name="cpass" value=""><br><br>
        <input type="submit" value="Submit"><br><br>
      </form>
      <script src="/js/data.js"></script>
</body>
</html> --}}



    <section class="hero">
<h2>Register Page</h2>
<br>
 <form id="register">
        <label for="fname">Full name:</label><br>
        <input class="name" type="text" id="fname" name="fname" value=""><br><br>
        <label for="lname">Email Address:</label><br>
        <input class="email" type="text" id="lname" name="email" value=""><br><br>
        <label for="fname">Confirm Password:</label><br>
        <input class="password" type="text" id="cpass" name="cpass" value=""><br><br>
        <input type="submit" href="http://localhost:3001/userinput" value="Submit"><br><br>
        <input type="button" value="Cancel" onclick=location.href="http://localhost:3001">
        
      </form>

</section>
   
      <script src="/js/data.js"></script>
