<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Information</title>
</head>
<body>

 <section class="hero">
 
<h2 style="color: blue; font-size:larger">View last 5 days sleep information:</h2>
<br>
 
 <div id="sleepdata">
        {{#each rows as |row|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>Bed Time {{row.BedTime}} &nbsp; &nbsp; WakeUp Time {{row.wakeUpTime}} &nbsp; &nbsp; Sleep Duration {{row.Sleepdurtion}}</h4> 
      </div>
    </div>
    {{/each}}
    </div>
    <br>
</section>

<div>
     <div class="chart">
        <canvas id="graph" style="border:1px solid gold"></canvas>
    </div>
</div>

    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/js/script.js"></script>
    <script src="/js/data.js"></script>
</body>
</html>

