/* h1 {
  font-size: medium;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */




.main-container{
  max-width: 100%;
  border-left: 200px black solid;
  border-right: 200px black solid;
text-align: center;
  
}

body {
  font-family: Arial;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
}

header {
  padding: 10px;
  background:black solid;
  color: black solid;
  border-bottom-style: solid;
  border-color: gold;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

h4 {
  color: gold;
}

.navbar-end{
  color: gold;
  height: 30px;
  margin-top: 60px;
  
  
}

#color{
  color: rgb(19, 8, 235);
  border-radius: 5px;
  row-gap: 40px;

}

a {
  background: gold;
  color: gold;
  margin-left: 5px;
}
.hero {
  width: 100%;
  height: 100%px;
text-align: center;
padding: 30px;
}

.hero1 {
  width: 100%;
  height: 400px;
text-align: center;

}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    
} 

.name{
  width: 300px;
}
.email{
  width: 300px;
}

.password{
  width: 200px;
}

.sleepylogo {
  width: 200px;

}

.name {
  color: black;
}

.title {
  color: gold;

}

#register, #login, #userdata {
  color: white;
}


@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav,
  header {
    flex-direction: column;
   
  }
  /* Change the header background */
  header, a, .sleepylogo {
    flex-direction: column;
  }
  
}
#chart{
width: 200;
height : 150px;
}