<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Sleepyhead</title>
</head>
Welcome to Sleepyhead
<body>
    <br>
    <br>
    <form action="" method="POST">
       
        <label for="lname">Bed Time:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <label for="fname"> <br> Wake up Time:</label><br>
        <input type="text" id="fname" name="fname" value=""><br><br>
        <input type="submit" value="Submit"><br><br>
      </form>
      
</body>
</html>